In [2]:
import pandas as pd
# from ODEDataset import ODEDataset as ODE

In [13]:
df1 = pd.DataFrame(

    {

        "ID": [0, 1, 2, 3],
        "A": ["A0", "A1", "A2", "A3"],

        "B": ["B0", "B1", "B2", "B3"],

        "C": ["C0", "C1", "C2", "C3"],

        "D": ["D0", "D1", "D2", "D3"],

    },

    

).set_index("ID")
df2 = pd.DataFrame(

    {
"ID": [0, 1, 2, 3],
        "E": ["A4", "A5", "A6", "A7"],

        "F": ["B4", "B5", "B6", "B7"],

        "G": ["C4", "C5", "C6", "C7"],

        "H": ["D4", "D5", "D6", "D7"],

    },

    # index=[4, 5, 6, 7],
    

).set_index("ID")



df = df1.merge(df2, on="ID")

df

     A   B   C   D   E   F   G   H
ID
0   A0  B0  C0  D0  A4  B4  C4  D4
1   A1  B1  C1  D1  A5  B5  C5  D5
2   A2  B2  C2  D2  A6  B6  C6  D6
3   A3  B3  C3  D3  A7  B7  C7  D7

In [18]:
df["X"] = df["A"] + df["B"]
df

     A   B   C   D   E   F   G   H     X
ID
0   A0  B0  C0  D0  A4  B4  C4  D4  A0B0
1   A1  B1  C1  D1  A5  B5  C5  D5  A1B1
2   A2  B2  C2  D2  A6  B6  C6  D6  A2B2
3   A3  B3  C3  D3  A7  B7  C7  D7  A3B3